:host {
    display: block;
    height: 100vh;
    height: -webkit-fill-available;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
    background-color: #fafafa;

    .mat-toolbar {
        position: sticky;
        z-index: 1000;
        top: 0;

        img {
            margin-right: 10px;
        }
    }
}
