:host {
    display: block;
    height: 100vh;
    height: -webkit-fill-available;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-toolbar {
        position: sticky;
        top: 0;

        img {
            margin-right: 10px;
        }
    }
}
